[package]
name = "tui-tree-widget"
description = "Tree Widget for ratatui"
version = "0.15.0"
license = "MIT"
repository = "https://github.com/EdJoPaTo/tui-rs-tree-widget"
authors = ["EdJoPaTo <tui-tree-widget-rust-crate@edjopato.de>"]
edition = "2021"
keywords = ["tui", "terminal", "tree", "widget"]
categories = ["command-line-interface"]
include = ["src/**/*", "README.md"]
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
ratatui = { version = "0.24", default-features = false }
unicode-width = "0.1"

[dev-dependencies]
crossterm = "0.27"
ratatui = "0.24"
